/*------------------------------------------------------------------
GERAL
------------------------------------------------------------------*/

body {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
}

body.login {
    background-color: #F5F5F5;
}


/*------------------------------------------------------------------
LOGIN
------------------------------------------------------------------*/

.wrapper-login {
    position: absolute;
    width: 320px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-55%) translateX(-50%);
    -moz-transform: translateY(-55%) translateX(-50%);
    -ms-transform: translateY(-55%) translateX(-50%);
    transform: translateY(-55%) translateX(-50%);
}

.container-opt-sites {
    width: 850px;
    margin: 100px auto;
}

.page-header {
    width: 1200px;
    margin: 100px auto 0 auto;
}

.page-header a {
    margin-top: -50px !important;
}

.lista-formularios {
    width: 1200px;
    margin: 20px auto 150px auto;
}

.lista-formularios * {
    font-size: 12px !important;
}

.lista-formularios td,
.lista-formularios th {
    vertical-align: middle !important;
}

.campo-aula {
    width: 80px;
}

.campo-email {
    width: 235px;
}

.campo-telefone {
    width: 110px;
}

.campo-data {
    width: 120px;
}

.campo-segmento {
    width: 150px;
}

.campo-acesso {
    width: 110px;
}

.campo-cidade {
    width: 120px;
}

.jumbotron {
    width: 800px;
    margin: 100px auto;
}

.ct-imagem {
    position: relative;
    width: 476px;
    height: 476px;
    margin: 50px auto;
    background-size: 100% auto !important;
}

.imageBox {
    position: absolute;
    height: 164px;
    width: 164px;
    background: #efefef;
    overflow: hidden;
    background-repeat: no-repeat;
    top: 126px;
    left: 50%;
    margin: 0 0 0 -90px;
}

.Thathi {
    top: 158px;
    left: 50px;
    margin: 0 0 0 0;
}

.imageBox:before {
    position: absolute;
    width: 100%;
    padding: 0 15px;
    font-size: 18px;
    line-height: 1.2em;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    content: 'Clique aqui para subir a imagem do aluno';
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.imageBox img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 3;
}

.file {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.bold {
    font-weight: 700;
}

.nome {
    font-family: 'Pacifico', cursive;
    font-size: 16px;
    line-height: 1em;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 32px;
    margin-top: 295px;
    text-align: center;
    color: #fff;
}

.nomeThathi {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 22px;
    line-height: 1em;
    background-color: transparent;
    border: none;
    width: 50%;
    height: 32px;
    margin-top: 210px;
    text-align: left;
    color: #000;
    margin-left: 50%;
}

.cursoThathi {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 1em;
    background-color: transparent;
    border: none;
    width: 50%;
    height: 26px;
    margin-top: 0;
    text-align: left;
    color: #00417E;
    margin-top: -5px;
    margin-left: 50%;
}

.curso {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1em;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 26px;
    margin-top: 0;
    text-align: center;
    color: #000;
    margin-top: -5px;
}

.cursoThathi:focus,
.nomeThathi:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.curso:focus,
.nome:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.ct-logo {
    position: absolute;
    width: 100%;
    height: 105px;
    bottom: 0;
    left: 0;
}

.logo-escolaThathi {
    position: absolute;
    left: 78%;
    top: 15%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.65);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.65);
    -ms-transform: translateX(-50%) translateY(-50%) scale(0.65);
    transform: translateX(-50%) translateY(-50%) scale(0.65);
    margin-top: -2px;
}

.logo-escola {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
    -ms-transform: translateX(-50%) translateY(-50%) scale(0.8);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    margin-top: -2px;
}

#gerarImagem {
    display: block;
    margin: 20px auto 100px auto;
}